body {
	background-color: #EEE !important;
}

h1 {
	color: #FFF !important;
	padding-bottom: 20px !important;
	text-align: center;
	font-family: RobotoDraft, Helvetica, sans-serif;
}

.header {
	top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #2196f3;
	margin-bottom: 20px;
}

.formContainer {
	top: 0;
	padding-left: 20px;
	padding-right: 20px;
	/*width: 800px !important;*/
	background-color: #FFF !important;
}

.row {
	padding-top:10px !important;
}

label {
	padding-top: 15px;
}

.footer{
	color: #FFF;
	text-align: center;
	padding-top: 20px;
}

.footer a{
	color: #FFF;
}

